<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/HomeStyle.css') }}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/Openmail.js') }}"></script>

    <title>My Website</title>
  </head>
  <body style="background-color:#F6F8FC;">

    Date :  {{date}}
    <br>
    {{From}}
    <br>
    Subject :   {{subject}}
    <br>
    {{content}}

    {% for file in fileslists%}
    <form action="/download" method="post">
      <input type="hidden" id="lname" value={{file}} name="path"><br><br>
      <input type="submit" value="Download">
    </form>
    <br>
    {%endfor%}




</body>
</html>